@mixin Body {
  background-color: #12151c;
  color: #ecebf3;
  overflow: hidden;
}

@mixin Nav {
  background-color: #661b1c;
  color: #ecebf3;
}

@mixin AboutBody {
  background-color: #1b222c;
  color: #ecebf3;
}

@mixin Tablet() {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin Phone() {
  @media screen and (max-width: 480px) {
    @content;
  }
}
