@mixin BodyBGDark {
  background-color: #12151c;
  color: #ecebf3;
}

@mixin BodyCardLayer {
  background: #191d26;
  color: #ecebf3;
}

@mixin LargeScreen() {
  @media screen and (min-width: 1201px) {
    @content;
  }
}

@mixin Tablet() {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin Phone() {
  @media screen and (max-width: 480px) {
    @content;
  }
}
