@mixin DarkModeBody {
    background-color: #191b1b;
    color: #ECEBF3;
}

@mixin DarkModeNav {
    background-color: #C20114;
    color: #ECEBF3;
}


@mixin Phone() {
        @media screen and (max-width: 767px) {
            @content;
        }
}