@import "../styles/mixins";

.about {
  @include BodyBGDark();
  height: 100vh;
  width: auto;
  // background: rgb(189, 43, 43);
}

.flex_wrapper {
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
}

.about_container {
  height: 70%;
  width: 95%;
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: auto;

  div {
    height: auto;
  }

  .about_card {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 1rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    .about_title {
      margin-left: 1rem;
      font-size: 4vw;
      letter-spacing: 2px;
      text-shadow: 4px 2px 0px #2196f3;
      width: auto;
      z-index: 2;
    }

    .bio {
      width: 50%;
      margin-top: auto;
      margin-bottom: auto;
      p {
        z-index: 10;
        margin-left: 1rem;
        margin-bottom: 1rem;
        font-size: 1.1rem;
      }

      span {
        z-index: -1;
        // height: 80%;
      }

      img {
        z-index: -1;
      }
    }
  }
}

@include LargeScreen() {
  .about_container {
    div {
      height: 100%;
    }
  }
}

@include Tablet() {
  .about {
    height: 100vh;
    margin-top: 400px;
    margin-bottom: 400px;
  }
  .flex_wrapper {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: 2rem auto 0 auto;
  }

  .about_container {
    height: auto;
    width: 70%;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    // margin-bottom: 1rem;

    div {
      height: auto;
    }
    .about_card {
      background: rgba(255, 255, 255, 0.05);
      border-radius: 15px;
      box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(5px);
      border-top: 1px solid rgba(255, 255, 255, 0.5);
      border-left: 1px solid rgba(255, 255, 255, 0.5);
      padding-bottom: 0;
      .about_title {
        margin-left: 1rem;
        font-size: 3rem;
        letter-spacing: 2px;
        text-shadow: 4px 2px 0px #2196f3;
        width: auto;
      }

      .bio {
        width: auto;
        background: none;
        border-radius: 0;
        border: 0;
        margin-left: 0;

        p {
          font-size: 1.4rem;
          margin-left: 1rem;
          margin-bottom: 1rem;
        }
      }
    }
  }

  .about_img_wrapper {
    position: relative;
    width: 700px;
    height: 700px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
  }
}

@include Phone() {
  .about_container {
    width: 95%;
  }
  .flex_wrapper {
    margin: 4rem auto 2rem auto;
  }
  .about_img_wrapper {
    position: relative;
    min-height: 300px;
    width: 100%;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 400px;
  }
}
