@import "../styles/mixins";

.main_wrapper {
  @include BodyBGDark();
  padding-top: 100px;
  display: flex;
  flex-flow: row;
  overflow: hidden;
}
.home_container {
  display: flex;
  flex-flow: column;
  // margin-left: 5%;
  // padding-top: 50px;
  min-height: 100vh;
  width: 50vw;
  position: relative;
}

.hero_container {
  display: flex;
  flex-flow: column;
  width: fit-content;
  margin: 0 3rem;
  padding: 0 10px;
  animation: popOut 1s ease 2.5s forwards;
}

.hero {
  font-size: 3rem;
}

.hero,
.hero2 {
  width: fit-content;
  position: relative;
  letter-spacing: 3px;
  line-height: normal;
  transition: background 1s;
  user-select: none;
  background: linear-gradient(to right, #ecebf3 50%, #9e292b 50%);
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  &::before,
  ::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  &::before {
    @include BodyBGDark();
    animation: peel 1s ease 0.5s forwards;
  }
  &:hover {
    background-position: -100%;
  }
}

.hero2 {
  font-size: 4.4rem;
  &::before {
    @include BodyBGDark();
    animation: peel 1.4s ease 1.5s forwards;
  }
}

.hero_span {
  font-size: 2rem;
  letter-spacing: 2px;
  width: fit-content;
  margin: auto;
  opacity: 0;
  animation: fadeIn 2s ease 2.5s forwards;
  transition: background 1s;
  background: linear-gradient(to left, #9e292b 50%, #ecebf3 50%);
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  &:hover {
    background-position: -100%;
  }
}

.view_project {
  height: 20vh;
  width: 25vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem auto;
  background: #191d26;
  box-shadow: 8px 10px 0px #9e292b;
  opacity: 0;
  animation: fadeIn 2s ease 4s forwards;
  overflow: hidden;
  transition: 0.5s;
  a {
    position: relative;
    font-size: 2rem;
    z-index: 10;
  }

  &:hover {
    cursor: pointer;
    background-color: #9e292b;
    box-shadow: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    border-top: 2px solid #ecebf3;
    border-left: 2px solid #ecebf3;
    transition: 0.5s;
  }

  &:hover::before {
    width: 100%;
    height: 100%;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 25px;
    height: 25px;
    border-bottom: 2px solid #ecebf3;
    border-right: 2px solid #ecebf3;
    transition: 0.5s;
  }

  &:hover::after {
    width: 100%;
    height: 100%;
  }
}

.skill_page {
  @include BodyCardLayer();
  height: 75vh;
  width: 45vw;
  opacity: 0;
  animation: fadeIn 2s ease 3.5s forwards;
  box-shadow: 12px 14px 0px #9e292b;
}

.skill_header {
  display: flex;
  flex-flow: row;
  font-size: 0.8rem;
  text-align: center;
  gap: 1rem;
  position: relative;
  width: 70%;
  height: auto;
  margin: auto;
  padding-top: 1rem;
  p {
    background-color: #202531;
    padding: 0 10px;
    border-top: 2px solid #9e292b;
    border-bottom: 2px solid #9e292b;
  }
  hr {
    width: 60%;
    margin: 2rem auto;
  }
}

.skill_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 5px;
  width: 70%;
  margin: 2rem auto auto auto;
  padding-bottom: 2rem;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  li {
    position: relative;
    color: #ecebf3;
    background-color: #202531;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 60px;
    overflow: hidden;
    cursor: pointer;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 4px;
      height: 100%;
      background: #9e292b;
      transition: 0.5s ease-in-out;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 4px;
      height: 100%;
      background: #9e292b;
      transition: 0.5s ease-in-out;
    }
    &:hover::before,
    &:hover::after {
      width: 50%;
    }

    span {
      position: absolute;
      z-index: 1;
      transition: 0.5s;
      color: #ecebf3;
      font-size: 1rem;
    }

    span:nth-child(1) {
      transition-delay: 0.75s;
    }

    &:hover span:nth-child(1) {
      transform: scale(0);
      transition-delay: 0s;
    }

    span:nth-child(2) {
      transform: scale(3);
      transition-delay: 0s;
      opacity: 0;
    }

    &:hover span:nth-child(2) {
      transform: scale(1);
      transition-delay: 0s;
      opacity: 1;
      z-index: 10;
      color: #ecebf3;
      transition-delay: 0.5s;
    }
  }
}

@keyframes peel {
  to {
    left: 100%;
  }
}

@keyframes fadeIn {
  to {
    opacity: 100%;
  }
}

@keyframes popOut {
  to {
    background-color: #191d26;
    box-shadow: 20px 20px 1px #9e292b;
  }
}

@keyframes borderOutline {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(350deg);
  }
}

@include Tablet() {
  .main_wrapper {
    // padding-top: 100px;
  }

  .home_container {
    padding-top: 0px;
  }

  .hero,
  .hero2 {
    font-size: 4rem;
  }

  .skill_header {
    width: 80%;
  }

  .skill_grid {
    width: 80%;
  }
}

@include Phone() {
  .main_wrapper {
    padding-top: 0px;
  }

  .home_container {
    flex-flow: column;
    justify-content: center;
    padding-top: 0;
    margin: auto;
  }

  .hero_container {
    max-width: 100%;
  }
  .hero,
  .hero2 {
    font-size: 16vw;
  }

  .hero_span {
    text-align: left;
    font-size: 6vw;
    width: 100%;
    margin-left: 1px;
  }

  .skill_page {
  }

  .skill_header {
    font-size: 1rem;
    text-align: center;
    gap: 1rem;
    width: 90%;

    p {
      padding: 0.8rem;
    }

    hr {
      width: 60%;
      margin: 2rem auto;
    }
  }

  .skill_grid {
    @include BodyCardLayer();
    display: flex;
    flex-flow: column;
    gap: 5px;
    margin: 2rem auto auto auto;
    justify-content: center;
    text-align: center;
    font-size: 1.4rem;
    li {
      position: relative;
      color: #ecebf3;
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto;
      height: 60px;
      cursor: pointer;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 4px;
        height: 100%;
        background: #f40119;
        transition: 0.5s ease-in-out;
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 4px;
        height: 100%;
        background: #f40119;
        transition: 0.5s ease-in-out;
      }
      &:hover::before,
      &:hover::after {
        width: 60%;
      }
      span {
        position: absolute;
        z-index: 1;
        transition: 0.5s;
        color: #ecebf3;
        font-size: 2rem;
      }
    }
  }
}
