@import "../styles/mixins";

.main_wrapper {
  @include BodyBGDark();
  padding-top: 100px;
  height: 100vh;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  overflow: hidden;
}
.home_container {
  display: flex;
  flex-flow: column;
  gap: 6rem;
  min-height: fit-content;
  width: 40vmax;
  position: relative;
  margin-left: 2rem;
}

.hero_container {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 5px 10px;
  animation: popOut 1s ease 2.5s forwards;
}

.hero {
  font-size: 3vw;
}

.hero,
.hero2 {
  width: fit-content;
  position: relative;
  letter-spacing: 3px;
  line-height: normal;
  transition: background 1s;
  user-select: none;
  background: linear-gradient(to right, #ecebf3 50%, #f7e1b2 50%);
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  &::before,
  ::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  &::before {
    @include BodyBGDark();
    animation: peel 1s ease 0.5s forwards;
  }
  &:hover {
    background-position: -100%;
  }
}

.hero2 {
  font-size: 5vw;
  &::before {
    @include BodyBGDark();
    animation: peel 1.4s ease 1.5s forwards;
  }
}

.hero_span {
  font-size: 2.4vh;
  letter-spacing: 2px;
  width: fit-content;
  opacity: 0;
  animation: fadeIn 2s ease 2.5s forwards;
  transition: background 1s;
  background: linear-gradient(to left, #f7e1b2 50%, #ecebf3 50%);
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  &:hover {
    background-position: -100%;
  }
}

.view_project {
  height: 20vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  // margin: auto;
  background: #191d26;
  box-shadow: 8px 10px 0px #2196f3;
  opacity: 0;
  animation: fadeIn 2s ease 4s forwards;
  overflow: hidden;
  transition: 0.5s;
  a {
    position: relative;
    font-size: 2.8vh;
    z-index: 10;
  }

  &:hover {
    cursor: pointer;
    background-color: #2196f3;
    box-shadow: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    border-top: 2px solid #ecebf3;
    border-left: 2px solid #ecebf3;
    transition: 0.5s;
  }

  &:hover::before {
    width: 100%;
    height: 100%;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 25px;
    height: 25px;
    border-bottom: 2px solid #ecebf3;
    border-right: 2px solid #ecebf3;
    transition: 0.5s;
  }

  &:hover::after {
    width: 100%;
    height: 100%;
  }
}

.skill_page {
  @include BodyCardLayer();
  height: fit-content;
  max-width: 55vw;
  opacity: 0;
  animation: fadeIn 2s ease 3.5s forwards;
  box-shadow: 12px 14px 0px #2196f3;
  margin-right: 2rem;
}

.skill_header {
  display: flex;
  flex-flow: row;
  font-size: 1rem;
  text-align: center;
  gap: 1rem;
  position: relative;
  width: 70%;
  height: auto;
  margin: auto;
  padding-top: 2rem;
  p {
    background-color: #202531;
    padding: 0 10px;
    border-top: 2px solid #2196f3;
    border-bottom: 2px solid #2196f3;
    padding: 20px;
  }
  hr {
    width: 60%;
    margin: 2rem auto;
  }
}

.skill_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 5px;
  width: 70%;
  margin: 2rem auto auto auto;
  padding-bottom: 2rem;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  li {
    position: relative;
    color: #ecebf3;
    background-color: #202531;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 65px;
    overflow: hidden;
    cursor: pointer;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 4px;
      height: 100%;
      background: #2196f3;
      transition: 0.5s ease-in-out;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 4px;
      height: 100%;
      background: #2196f3;
      transition: 0.5s ease-in-out;
    }
    &:hover::before,
    &:hover::after {
      width: 50%;
    }

    span {
      position: absolute;
      z-index: 1;
      transition: 0.5s;
      color: #ecebf3;
      font-size: 1.6rem;
    }

    span:nth-child(1) {
      transition-delay: 0.75s;
    }

    &:hover span:nth-child(1) {
      transform: scale(0);
      transition-delay: 0s;
    }

    span:nth-child(2) {
      transform: scale(3);
      transition-delay: 0s;
      opacity: 0;
    }

    &:hover span:nth-child(2) {
      transform: scale(1);
      transition-delay: 0s;
      opacity: 1;
      z-index: 10;
      color: #ecebf3;
      transition-delay: 0.5s;
    }
  }
}

@keyframes peel {
  to {
    left: 100%;
  }
}

@keyframes fadeIn {
  to {
    opacity: 100%;
  }
}

@keyframes popOut {
  to {
    background-color: #191d26;
    box-shadow: 20px 20px 1px #2196f3;
  }
}

@keyframes borderOutline {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(350deg);
  }
}

@include Tablet() {
  .main_wrapper {
    // padding-top: 100px;
    height: auto;
    flex-flow: column;
    gap: 0;
  }

  .home_container {
    height: auto;
    flex-flow: row;
    min-height: auto;
    justify-content: space-between;
    padding-top: 0px;
    width: 100%;
    gap: 0;
    margin-left: 0;
  }

  .hero_container {
    width: 45%;
    justify-content: center;
  }

  .hero {
    font-size: 1.6rem;
  }

  .hero2 {
    font-size: 2.2rem;
  }

  .hero,
  .hero2 {
  }

  .hero_span {
    font-size: 1.4rem;
  }

  .view_project {
    width: 45%;
    margin-right: 10px;
    a {
      font-size: 2rem;
    }
  }

  .skill_page {
    max-width: 100%;
    margin: 2rem;
    height: auto;
    box-shadow: 8px 8px 0px #2196f3;
  }

  .skill_header {
    width: 80%;
  }

  .skill_grid {
    width: 80%;
  }

  @keyframes popOut {
    to {
      background-color: #191d26;
      box-shadow: 8px 8px 1px #2196f3;
    }
  }
}

@include Phone() {
  .main_wrapper {
    flex-flow: column;
    overflow: auto;
    gap: 0;
  }

  .home_container {
    flex-flow: column;
    padding-top: 0;
    width: 100%;
    height: auto;
    min-height: auto;
    margin: auto;
  }

  .hero_container {
    width: 90%;
    padding-bottom: 10px;
    margin: auto;
  }
  .hero,
  .hero2 {
    font-size: 16vw;
  }

  .hero_span {
    text-align: left;
    font-size: 6vw;
    width: 100%;
    margin-left: 1px;
  }

  .view_project {
    width: 90%;
    height: 15vh;
    margin: 4rem auto;
    a {
      font-size: 1.8rem;
    }
  }

  .skill_page {
    max-width: 100%;
    height: auto;
  }

  .skill_header {
    font-size: 1rem;
    text-align: center;
    gap: 1rem;
    width: 90%;

    p {
      padding: 0.8rem;
    }

    hr {
      width: 60%;
      margin: 2rem auto;
    }
  }

  .skill_grid {
    @include BodyCardLayer();
    display: flex;
    flex-flow: column;
    gap: 5px;
    height: auto;
    margin: 2rem auto auto auto;
    justify-content: center;
    text-align: center;
    font-size: 1.4rem;
    li {
      position: relative;
      color: #ecebf3;
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto;
      height: 60px;
      cursor: pointer;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 4px;
        height: 100%;
        background: #2196f3;
        transition: 0.5s ease-in-out;
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 4px;
        height: 100%;
        background: #2196f3;
        transition: 0.5s ease-in-out;
      }
      &:hover::before,
      &:hover::after {
        width: 60%;
      }
      span {
        position: absolute;
        z-index: 1;
        transition: 0.5s;
        color: #ecebf3;
        font-size: 2rem;
      }
    }
  }
}
