@import '../styles/mixins';

.main_wrapper {
  @include Body();
}
.home_container {
  display: flex;
  flex-flow: column;
  margin-left: 5%;
  justify-content: center;
  min-height: 100vh;
  position: relative;
}

.hero_container {
  display: flex;
  flex-flow: column;
  width: fit-content;
}

.hero, .hero2 {
  font-size: 7rem;
  padding: 0 0rem;
  width: fit-content;
  position: relative;
  letter-spacing: 3px;
  line-height: normal;
  transition: background 1s;
  user-select: none;
  background: linear-gradient(to right, #ECEBF3 50%, #F40119 50% );
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  &::before, ::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  &::before {
    @include Body;
     animation: peel 0.8s ease 0.5s forwards;
   }
   &:hover {
     color: #C20114;
     cursor: pointer;
     background-position: -100%;
   }
}

.hero2 {
  &::before {
   @include Body;
    animation: peel 1.4s ease 1.5s forwards;
  }
}

.hero_span {
  font-size: 2rem;
  letter-spacing: 2px;
  width: fit-content;
  margin: auto;
  opacity: 0;
  animation: fadeIn 2s ease 2.5s forwards;
  transition: background 1s;
  background: linear-gradient(to left, #01F4DC 50%, #ECEBF3 50% );
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  &:hover {
    cursor: pointer;
    background-position: -100%;
  
  }
  
}



@keyframes peel {
  to {
    left: 100%;
  }
}

@keyframes fadeIn {
  to {
    opacity: 100%;
  }
}


@include Phone() {

  .home_container {
    flex-flow: column;
    justify-content: flex-start;
    margin: auto;
  }

  .hero_container {
   margin-top: 100px;
   max-width: 100%;
  }
  .hero, .hero2 {
    font-size: 16vw;
  }

  .hero_span {
    text-align: left;
  }

}
